<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
<h1>ログイン</h1>
<form aciton="/login" method="post">
	<ul th:if="${errorList}" class="error">
		<li th:each="error:${errorList}" th:text="${error}"></li>
	</ul>
	<table border="1">
		<tr>
		<th>メールアドレス</th>
		<td><input type="text" name="email" th:value="${email}"></td>
		</tr>
		<tr>
		<th>パスワード</th>
		<td><input type="text" name="password"></td>
		</tr>
	</table>
	<button>ログイン</button>
</form>
<a href="/users/new">新規登録画面</a>
</html>