<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link href="loginStyle.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<h1>ログイン</h1>
		<form aciton="/login" method="post">
			<p th:text="${error}"></p>
			<table>
				<tr>
					<div class="form-group">
						<td><input type="text" name="email" th:value="${email}" placeholder=" メールアドレス"
								class="input-field"></td>
					</div>
				</tr>
				<tr>
					<div class="form-group">
						<td><input type="password" name="password" placeholder=" パスワード" class="input-field"></td>
					</div>
				</tr>
			</table>
			<button>ログイン</button>
			<p class="matawa">— または —</p>
		</form>
		<a href="/users/new">新規アカウント登録</a>
	</div>
</body>

</html>