<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規登録</title>
	<link href="newUserStyle.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<h1>ユーザー新規作成</h1>
		<form action="/users/add" method="post">
			<p th:text="${error}"></p>
			<div class="form-group">
				<input type="text" name="name" placeholder="名前" class="input-field"><br>
			</div>
			<div class="form-group">
				<input type="text" name="email" placeholder="メアド" class="input-field"><br>
			</div>
			<div class="form-group">
				<input type="text" name="password" placeholder="パスワード" class="input-field"><br>
			</div>
			<div class="form-group">
				<input type="text" name="password_confirm" placeholder="パスワード再確認" class="input-field"><br>
			</div>
			<button>新規登録</button>
		</form>
	</div>
</body>

</html>