<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ホーム</title>
</head>
<body>
    <header>
           <h2>ユーザー情報</h2>
           こんにちは[[${@account.name}]]さん<br>
           <a href="/login">ログアウト</a><br>
           <a href="/sns/post">新規作成</a><br>
    </header>

    <main>
		<table>
		<tr th:each="post:${posts}">
		<td th:text="${post.message}"></td>
		<td th:if="${@account.id} == ${post.userId}"><form th:action="@{/sns/{id}/deleteConfirm(id=${post.id})}" method="post">
			<input type="hidden" name="message" th:value="${post.message}">
			<button>削除</button>
			</form>
			</td>
	</tr>
		</table>
		
</main>

    <footer>
    </footer>

</body>
</html>
