<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ホーム</title>
</head>
<body>
    <header>
           <h2>ユーザー情報</h2>
           こんにちは[[${@account.name}]]さん<br>
           <a href="/login">ログアウト</a><br>
           <a href="/sns/post">新規作成</a><br>
    </header>

    <main>
		<table>
		<tr th:each="post:${@postList.posts}">
		<td th:text="${post.createdAt}"></td>
		<td th:text="${post.title}"></td>
		<td th:utext="${post.content}"></td>
		<td><form th:action="@{/sns/{id}/delete(id=${post.id})}" method="post">
			<button>削除</button>
			</form>
			
	</tr>
		</table>
		
</main>

    <footer>
    </footer>

</body>
</html>
